<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="beanA" class="com.omerkocbil.A"></bean>

	<bean id="beanB" class="com.omerkocbil.B" lazy-init="true">
		
		<constructor-arg ref="beanA"></constructor-arg>
	
	</bean>

	<bean id="beanC" class="com.omerkocbil.C">
		<constructor-arg type="int" value="1453"></constructor-arg>
		<constructor-arg type="String" value="FSM"></constructor-arg>
	</bean>
</beans>
